<section data-site class="l-section">
    <h1 class="l-section__title">Management</h1>
    <div class="l-section__desc-area">
        <div class="c-card__desc active">
            <h1>Design Tomato.com</h1>
            <p>自身が運営するWeb制作会社のHPです。</p>
            <p>ポップで楽しいデザインにしました。</p>
            <p class="c-card__use">node.js / PHP(WP) / TypeScript / SCSS / Tailwind / FLOCSS</p>
        </div>    
        <div class="c-card__desc">
            <h1>てづっぴ.jp</h1>
            <p>名刺とHPを組み合わせたPRサイトです。</p>
            <p>新規顧客に直接リコメンドします。</p>
            <p class="c-card__use">node.js / HTML / TypeScript / SCSS / Tailwind / FLOCSS</p>
        </div>    
        <div class="c-card__desc">
            <h1>39boubiroku.com</h1>
            <p>学んだことの忘備録。</p>
            <p>シンプルで軽量なブログサイトです。</p>
            <p class="c-card__use">node.js / PHP(WP) / TypeScript / SCSS / Tailwind / FLOCSS</p>
        </div>    
        <div class="c-card__desc">
            <h1>てづっぴ.com</h1>
            <p>コンテンツをまとめたポータルサイトです。</p>
            <p>テーマ再制作を予定しています。</p>
            <p class="c-card__use">PHP / CSS / JavaScript</p>
        </div>    
    </div><!-- .l-section__desc-area -->
    <div class="l-section__inner">
        <div class="p-card-list">
            <a href="/management/design-tomato/" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/management/ss-site-design-tomato-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/management/ss-site-design-tomato-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/management/ss-site-design-tomato.webp" type="image/webp"/>
                            <img data-src="images/management/ss-site-design-tomato.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/management/tzp-jp/" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/management/ss-site-tzpjp-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/management/ss-site-tzpjp-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/management/ss-site-tzpjp.webp" type="image/webp"/>
                            <img data-src="images/management/ss-site-tzpjp.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/management/39boubiroku/" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/management/ss-site-39boubiroku-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/management/ss-site-39boubiroku-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/management/ss-site-39boubiroku.webp" type="image/webp"/>
                            <img data-src="images/management/ss-site-39boubiroku.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/management/tzp-com/" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/management/ss-site-tzpcom-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/management/ss-site-tzpcom-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/management/ss-site-tzpcom.webp" type="image/webp"/>
                            <img data-src="images/management/ss-site-tzpcom.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
