<section data-design class="l-section">
    <h1 class="l-section__title">Design</h1>
    <div class="l-section__desc-area">
        <div class="c-card__desc active">
            <h1>バナー・サムネイル画像</h1>
            <p>運営サイトで使用している画像素材です。</p>
            <p>クリックしたくなるような<br class="sp-only">デザインを意識しています。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
        <div class="c-card__desc">
            <h1>サイト用画像素材</h1>
            <p>サイトに合った画像素材を制作します。</p>
            <p>Web用にサイズ、形式も最適化しています。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
        <div class="c-card__desc">
            <h1>タイトル・見出し画像</h1>
            <p>幅広く多様なデザインを製作します。</p>
            <p>イラストを描いているので<br class="sp-only">画像素材の制作も得意です。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
        <div class="c-card__desc">
            <h1>アイコン素材</h1>
            <p>様々な絵柄で制作できます。</p>
            <p>要望に沿った満足度の高いアイコンを描きます。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
    </div><!-- .l-section__desc-area -->
    <div class="l-section__inner">
        <div class="p-card-list">
            <a href="/design/banner" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/design/design-banner-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/design/design-banner-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/design/design-banner.webp" type="image/webp"/>
                            <img data-src="images/design/design-banner.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/design/tomato" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/design/design-tmt-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/design/design-tmt-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/design/design-tmt.webp" type="image/webp"/>
                            <img data-src="images/design/design-tmt.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/design/block" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/design/design-block-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/design/design-block-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/design/design-block.webp" type="image/webp"/>
                            <img data-src="images/design/design-block.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/design/icon" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/design/design-icon-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/design/design-icon-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/design/design-icon.webp" type="image/webp"/>
                            <img data-src="images/design/design-icon.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
