<section data-other class="l-section">
    <h1 class="l-section__title">Other</h1>
    <div class="l-section__desc-area">
        <div class="c-card__desc active">
            <h1>DTP制作</h1>
            <p>上記運営サイトで連携した名刺です。</p>
            <p>名刺以外にもポスターや<br class="sp-only">チラシなどの制作もできます。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
        <div class="c-card__desc">
            <h1>コーディング</h1>
            <p>保守管理しやすいコードを心がけています。</p>
            <p>命名規則、設計思想、CSSの記述順など<br class="sp-only">仕様に則り製作します。</p>
            <p class="c-card__use">CSS / SCSS / BEM / OOCSS / SMACSS / FLOCSS</p>
        </div>    
        <div class="c-card__desc">
            <h1>チャット/コミュニティアイコン</h1>
            <p>内容に合わせたデザインで製作します。</p>
            <p>アイコンだけでしっかりと伝わる<br class="sp-only">デザインを目指しています。</p>
            <p class="c-card__use">ClipStudioPaint / Adobe > Photoshop / Illustrator</p>
        </div>    
        <div class="c-card__desc">
            <h1>動画編集</h1>
            <p>カット/テロップ/効果/映像全般を製作します。</p>
            <p>音声の加工も得意です。<br class="sp-only">ノイズを低減し、音量ムラを整えます。</p>
            <p class="c-card__use">Adobe > PremierePro / AfterEffects</p>
        </div>    
    </div><!-- .l-section__desc-area -->
    <div class="l-section__inner">
        <div class="p-card-list">
            <a href="/other/dtp" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/other/other-dtp-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/other/other-dtp-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/other/other-dtp.webp" type="image/webp"/>
                            <img data-src="images/other/other-dtp.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/other/code" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/other/other-code-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/other/other-code-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/other/other-code.webp" type="image/webp"/>
                            <img data-src="images/other/other-code.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/other/chat" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/other/other-chat-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/other/other-chat-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/other/other-chat.webp" type="image/webp"/>
                            <img data-src="images/other/other-chat.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
            <a href="/other/video" class="c-card">
                <div class="c-card__inner">
                    <div class="c-card__thumb">
                        <picture>
                            <source data-srcset="images/other/other-video-s.webp" media="(max-width: 599px)" type="image/webp"/>
                            <source data-srcset="images/other/other-video-s.jpg" media="(max-width: 599px)"/>            
                            <source data-srcset="images/other/other-video.webp" type="image/webp"/>
                            <img data-src="images/other/other-video.jpg" alt="Site Image" width="530" height="300">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
